{% extends 'base.html' %}
{% block agrf %}
{% endblock %}
{% block footer %}
    {# If we are logged into the genomspace put a logout button on the page #}
    {% if request.session.xrd_location %}
        <div>
            <a href="{% url 'agrf:gs_logout' %}">Logout from {{ request.session.xrd_location }}</a>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <div>
            <a href="{% url 'logout' %}">Logout from this application</a>
        </div>
        <div>
           You are logged in as: {{ user.username }}
        </div>
        <div>
            Software version: {{ SOURCE_REVISION }}
        </div>
    {% endif %}
{% endblock %}