{% extends 'agrf_feed/agrf_feed.html' %}

{% block title %}
    <title>AGRF | File Listing</title>
    {% load static %}
    <link href="{% static "/css/spinner.css" %}" rel="stylesheet"/>
{% endblock %}
{% block heading %}
    <h2 id="foo">AGRF File Listing</h2>
{% endblock %}
{% block content %}
    <script language="JavaScript">
        function toggle(source) {
            {# following is brittle: the 'file_listing' name #}
            {# must match the name given in the FileUploadForm #}
            var checkboxes = document.getElementsByName('file_listing');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type === "checkbox") {
                    checkboxes[i].checked = source.checked;
                }
            }
        }
    </script>
    <form method="post" action="{% url 'agrf:files' %}" id="f_file_selector">
        {% csrf_token %}
        {{ form }}
        <ul>
            <li>
                <label>
                    <input type="checkbox" onClick="toggle(this)"/>
                </label><b>Select all files</b>
            </li>
        </ul>

        <input id="b_submit" type="submit" name="select_files" value="Select"
               onclick="utils.spin(); return true">
    </form>
    <div id="d_cover">
        {#  used to cover the screen once the form is submitted  #}
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static "/js/spin.js" %}"></script>
    <script src="{% static "/js/launch_spinner.js" %}"></script>
{% endblock %}