{% extends 'agrf_feed/agrf_feed.html' %}
{% block title %}
    <title>AGRF | GS Login</title>
    {% load static %}
    <link href="{% static "/css/spinner.css" %}" rel="stylesheet"/>
{% endblock %}
{% block heading %}
    <h2>GenomeSpace Selector</h2>
{% endblock %}
{% block content %}
    <form method="post" action="{% url 'agrf:gs_login' %}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="gs_login" value="Login to the GenomeSpace"
               onclick="utils.spin(); return true">
    </form>
    <div>
        <h3>Warning!</h3>
        <p>If you choose a GenomeSpace/bucket that is overseas or
           on a commercial network you may incur both costs and delays in
           uploading your files! The <a
                    href="https://genomespace.genome.edu.au/jsui/"
                    target="_blank">
                Australian GenomeSpace</a> combined with buckets in the
            <a href="https://dashboard.rc.nectar.org.au/project/containers/"
               target="_blank">
                NeCTAR object store</a> will ordinarily be your cheapest and
           fastest solution.
        </p>
    </div>
{% endblock %}
{% block scripts %}
    <div id="d_cover">
        {#  used to cover the screen once the form is submitted  #}
    </div>
    <script src="{% static "/js/spin.js" %}"></script>
    <script src="{% static "/js/launch_spinner.js" %}"></script>
{% endblock %}